:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --background-style-color: #ffffff;
  --primary-button-color: #4d5ae5;
  --active-button-color: #404bbf;
  --design-element: #f4f4fd;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-style-color);
  color: var(--primary-text-color);

  letter-spacing: 0.02em;
}
ul {
  list-style: none;
}

/* webstudio*/

.logo {
  font-family: Raleway;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
}
.title-web {
  color: var(--primary-button-color);
}
.title-studio {
  color: var(--title-text-color);
}
/* nawigation */
.site-nav .link {
  color: var(--title-text-color);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
}

.site-nav:hover,
.site-nav:focus {
  color: var(--primary-button-color);
}

/* address */
.outh-nav .link {
  color: var(--primary-text-color);

  font-style: Regular;
  font-size: 16px;
  line-height: 1.5;
}

.outh-nav:hover,
.outh-nav:focus {
  color: var(--primary-button-color);
}
/* hero */
.box {
  background-color: var(--title-text-color);
}
.box .subject {
  color: var(--background-style-color);

  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  text-align: center;
}
/* btn */
.box .link {
  background-color: var(--primary-button-color);
  color: var(--background-style-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.04em;
}

.box .link:hover,
.link:focus {
  background-color: var(--active-button-color);
  color: var(--background-style-color);
}

/* section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

.section-subtitle {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.section-name {
  background-color: var(--design-element);
}

.section-feature {
  font-size: 16px;
  line-height: 1.5;
}
/* footer */
.box .box-web {
  color: var(--primary-button-color);
}
.box .box-studio {
  color: var(--design-element);
}
.box .box-text {
  color: var(--design-element);
  font-size: 16px;
  line-height: 1.5;
}

/* porfolio */
.filtr-link {
  background-color: var(--design-element);
  color: var(--primary-button-color);
}
.filtr-link:hover,
.filtr-link:focus {
  background-color: var(--active-button-color);
  color: var(--background-style-color);
}
